/* CenteredForms.css */
.centeredForm {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: white;
}

.centeredForm form {
    display: flex;
    flex-direction: column;
}

.centeredForm h2 {
    text-align: center;
}

.formField {
    margin-bottom: 15px;
}

.formField label {
    display: block;
    margin-bottom: 5px;
}

.formField input[type="text"],
.formField input[type="email"],
.formField input[type="password"] {
    width: 95%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.formField input[type="date"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.formField textarea {
    width: 95%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
}

.required {
    color: red;
}

.note {
    font-size: 0.8rem;
    margin-top: 5px;
}


 /*Datepicker width*/
.react-datepicker-wrapper {
    width: 100%;
}
